*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
.app-container {
  background-color: #282c34;
  color: aliceblue;
}

.popular-container{
  height: "100%";
}
.popular-container-item{
  height: "10%";
}
.popular-heading{
  font-weight: bold;
  margin: 10px;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.card {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  margin: 20px;
  cursor: pointer;
}
.horizontal-scroll-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Hide scrollbar in Chrome, Safari, and Edge */
  -ms-overflow-style: none; /* Hide scrollbar in IE and Edge */
}

.horizontal-scroll-container::-webkit-scrollbar {
  display: none; /* Hide scrollbar in Chrome, Safari, and Edge */
}
@media (max-width: 600px) {
  .card {
    width: 100%;
  }
}
.card:hover{
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.455);
  transform: scale(1.1,1.1);
}
.details{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.image{
  object-fit: cover;
  width: 200px;
  height: 300px;
}
.rating{
  color:rgba(255, 204, 0, 0.964);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 2vh;
  padding: 1px;
}
.skeleton-card{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  margin: 8px;
  width: 200px;
  height: 300px;
}
.skeleton-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skeleton-card:hover{
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.455);
  transform: scale(1.05,1.05);
}
@media screen and (max-width: 600px) {
  .skeleton-card {
    width: 100%;
  }
}
.all-card:hover{
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.455);
  transform: scale(1.1,1.1);
}

/* moviesinfo css : - 
.movieinfo-container{
  width: 100%;
  height: 100%;
  background-color:grey;
  position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.movieinfo-backgroundpic{
  width: 100%;
  height: 35rem;
  background-color: yellow;
}
.movieinfo-box{
  display: flex;

}
.movieinfo-pic{
  width:50%;
  height: 30rem;
  background-color: blue;
}
.movieinfo-detail{
  width: 50%;
  height: 30rem;
  background-color:green; 
}*/

.movie {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction:column;
  align-items: center;
  background-color: #000000;
}

.movie__intro {
  width: 80%;
}

.movie__backdrop {
  width: 100%;
  height: 500px;
  object-fit:cover;
  object-position: 0 35%;
}

.movie__detail {
  align-items: center;
  width: 75%;
  display: flex;
  position: relative;
  bottom: 225px;
}

.movie__detailLeft {
  margin-right: 30px;
}

.movie__poster {
  width:300px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 40px 6px;
}

.movie__detailRight {
  color: white;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content:space-between ;
}

.movie__detailRightTop > div{
  text-shadow: 0px 0px 5px #000000;
  margin-bottom: .5rem;
}

.movie__name {
  font-weight: 600;
  font-size: 3rem;
}

.movie__voteCount {
  margin-left: 1rem;
}

.movie__genres {
  margin: 1.25rem 0;
}

.movie__genre {
  padding: .5rem;
  border: 2px solid white;
  border-radius: 20px;
  margin-right: 1rem;
}


.movie__detailRightBottom {
  margin: 2rem 0;
  flex: 0.8;
}

.synopsisText {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
  font-weight: 600;
  display: flex;
  position: relative;
  align-items: center;
}
.synopsisText > div:last-of-type {
  margin-left: auto;
}

.movie__links {
  position: relative;
  bottom: 120px;
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.movie__heading {
  font-size: 2.2rem;
}

.movie__Button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 2rem;
  border-radius: 20px;
  cursor: pointer;
  width: 150px;
  color: black;
  font-weight: bold;
}

.movie__homeButton {
  background-color:rgb(255, 0, 0);
  
}

.movie__imdbButton {
  background-color:#f3ce13;
}

.newTab {
  margin-left: 1.4rem;
}

.movie__production {
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 4rem;
}


.movie__productionComapany {
  width: 200px;
  margin: 2rem;
}

.productionCompanyImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.MuiPaper-root::-webkit-scrollbar {
  width: 0;
}

/* Create a custom scrollbar track */
.MuiPaper-root::-webkit-scrollbar-track {
  background: transparent;
}

/* Create a custom scrollbar thumb */
.MuiPaper-root::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}
.product-heading{
  margin-left: 10px;
}